.sidebar {
  width: 80%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  -webkit-transition: all ease-out 300ms;
  transition: all ease-out 300ms; }

.sidebar--open {
  -webkit-transform: translate(0);
          transform: translate(0); }
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 100%; }

#app {
  min-height: 100vh;
  background-color: #59A0F3; }

.menu-btn {
  width: 2.75em;
  height: 2.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white; }

.menu-btn__icon {
  display: inline-block;
  height: 0.25em;
  width: 70%;
  background-color: white;
  position: relative;
  border-radius: 0.25em; }

.menu-btn__icon::before {
  content: '';
  display: inline-block;
  height: 0.25em;
  width: 100%;
  background-color: white;
  position: absolute;
  -webkit-transform: translateY(-0.6em);
          transform: translateY(-0.6em);
  border-radius: 0.25em; }

.menu-btn__icon::after {
  content: '';
  display: inline-block;
  height: 0.25em;
  width: 100%;
  background-color: white;
  position: absolute;
  -webkit-transform: translateY(0.6em);
          transform: translateY(0.6em);
  border-radius: 0.25em; }

.weather-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25em; }

.weather-wrapper__city-name {
  margin-bottom: .5em; }

.weather-wrapper__city-name-text {
  color: white; }

.weather-wrapper__weather-preview {
  width: 50vw;
  height: 50vw;
  background-size: contain;
  margin-bottom: 1em; }

.weather-wrapper__weather-text {
  font-size: 1.25em;
  color: white; }

.weather-wrapper__temperature {
  font-size: 3em;
  color: white; }
